.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
                      /* **** */
.card{
  margin: 0 auto;
}
.header {
  display: flex;
}
.header button {
  margin-top: 23px;
  width: 40px;
  height: 40px;
}
.show  li {
  list-style: none;
}
.show i {
  margin: 0 10px;
  color: #20864b;
}